body {
  font-family: 'Roboto Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 64px;
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}

header {
  display: inline;
}

a {
  text-decoration: none;
}

.container {
  font-size: 17px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(8, 0, 145);
  background: linear-gradient(0deg, rgba(199, 197, 222, 1) 0%, rgba(214, 214, 241, 1) 27%, rgba(210, 247, 255, 1) 100%);
}

.links {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.img {
  border-radius: 15px;
  float: left;
  margin: 0 40px 15px 0;
}

.description {
  max-width: 750px;
  margin-bottom: 40px;
}

.hob_skill {
  display: flex;
  justify-content: start;
}

.contacts li{
  display: block;
  min-width: 700px;
}

.ul {
  text-align: start;
  margin-right: 30px;
  margin-bottom: 50px;
}

.education {
  margin-bottom: 40px;
}

.example-code {
  margin-bottom: 15px;
}

.collapsible {
  background-color: rgb(139, 139, 139);
  color: white;
  cursor: pointer;
  padding: 7px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: rgb(73, 73, 73);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  width: 788px;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 5px;
}

.project {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.git_link {
  margin-bottom: 10px;
}

.footer {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-around;
}